<h2>Edit Contact</h2>

<form action="/contacts/<%= @i %>/update" method="POST">
  <p>Name: <input type="text" name="name" value="<%= @contact[:name] %>"></p>
  <p>id: <input type="text" name="phone" value="<%= @contact[:id] %>"></p>
  <p>Quantity: <input type="text" name="email" value="<%= @contact[:quantity] %>"></p>
  <input type="submit" value="Update">
  <button><a href="/contacts/<%= @i %>">Cancel</a></button>
</form>
