<h1><%= @contact[:name] %></h1>
<p><%= @contact[:id] %></p>
<p><%= @contact[:quantity] %></p>

<br>
<a href="/contacts">[Index]</a>
<a href="/contacts/<%= @i %>/edit">[Edit]</a>
<a href="/contacts/<%= @i %>/delete">[Delete]</a>
