<h1><%= @contact[:name] %></h1>
<p><%= @contact[:phone] %></p>
<p><%= @contact[:email] %></p>

<h2><%= @contact[:name] %></h2>
<p><%= @contact[:phone] %></p>
<p><%= @contact[:email] %></p>

<br>
<a href="/contacts">[Index]</a>
<a href="/contacts/<%= @i %>/edit">[Edit]</a>
<a href="/contacts/<%= @i %>/delete">[Delete]</a>
